@charset "ISO-8859-1";

/*Fuente de Google Fonts*/
@import
	url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*Quitar margin y padding por defecto*/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: ghostwhite;
}

.mainBody {
	display: flex;
	flex-direction: row;
}

h2{
	font-family: 'Satisfy', cursive;
}

#divBodyIzquierda {
	min-height: 100vh;
	width: 25%;
	padding-right: 1%;
	color: black;
	background-color: rgb(59, 143, 118);
}


#divBodyDer {
	min-height: 100vh;
	width: 75%;
	height: 50vh;
}

#divBodyDer>h2{
	text-align:center;
	margin-top:2%;
	margin-bottom: 20%;
}

#info {
	height: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
	border: 6px solid white;
	border-top: none;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
	background-color: aliceblue;
}

#info>h2 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 20%;
}

#divImgsIzq {
	display: flex;
	flex-direction: column;
}

#divImgsIzq>img {
	margin-left: 40%;
	margin-bottom: 10%;
	width: 64px;
	height: 64px;
}

#divImgsIzq>p {
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-bottom: 2%;
	
	font-weight: bold;
}

#divWebsDer{
	display: flex;
	flex-direction: row;
}
.enlaceWeb{
	margin-left: 25%;
	padding:2%;
	border-radius:50%;
}

.enlaceWeb:hover{
	border:4px solid  rgb(59, 143, 118);
}
.enlace>img {
	margin-bottom: 10%;
	width: 128px;
	height: 128px;
}

.enlace>p {
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-bottom: 2%;
	font-weight: bold;
}
.enlace{
	text-decoration:none;
	color:black;
}

