@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/*CSS Para Moviles y Tablets*/
@media screen and (min-width:0px) {
  body {
    min-height: 87vh;
    max-height: 87vh;
    display: flex;
    flex-direction: row;
    background-color: lightslategray;
  }

  #divIzqMain {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #divArray {
    padding: 2%;
    overflow: auto;
    max-height: 75vh;
    background-color: darkslateblue;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  #divArray>h2 {
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: white;
    font-weight: bold;

  }

  #divDerMain {
    max-height: 75vh;
    width: 30%;
  }

  #divDerMainUser {
    margin-top: 2%;
    margin-bottom: 10%;
    background-color: lightsteelblue;
    border: 5px solid white;
    border-right: none;
    padding-bottom: 3%;
  }

  #divDerMainUser>h2 {
    margin: 1%;
    font-family: 'Audiowide', cursive;
    text-align: left;
    font-size: larger;
    color: white;
  }

  #infoUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Audiowide', cursive;
  }

  #divDerMainDetail {
    height: 80%;
    margin-top: 1%;
    background-color: black;
    border: 5px solid white;
    border-right: none;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    padding-bottom: 3%;
  }

  #divDerMainDetail>h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: smaller;
    color: white;
  }

  .row {
    margin-left: 5%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .row>input {
    max-width: 25%;
    margin-right: 1%;
    background-color: whitesmoke;
    font-family: 'Audiowide', cursive;
    padding: 1%;
    border: 2px solid lightgrey;
  }

  .row>input:focus {
    border: 2px solid white;
    background-color: black;
    color: white
  }

  .row>input:disabled {
    border: 2px solid white;
    background-color: black;
    color: gray
  }

  .column {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .column>input {
    margin-left: 5%;
    background-color: whitesmoke;
    font-family: 'Audiowide', cursive;
    padding: 1%;
    border: 2px solid lightgrey;
    width: 90%;
  }

  #error {
    margin-top: 3%;
    padding: 2%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Gugi', cursive;
    color: red
  }

  #game {
    width: 65%;
    padding: 3%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    text-align: left;
    background-color: whitesmoke;
    font-family: 'Gugi', cursive;
    margin-bottom: 2%;
  }

  #vMedia {
    color: white;
    background-color: black;
    float: right;
    padding: 3%;
    border-radius: 50%;
  }
  #idGame{
    height:15%;
    width: 15%;
  }

  /*Estilo Barra Scroll*/
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: black;
  }

}

/*CSS Para PCs*/
@media screen and (min-width:1100px) {
  body {
    display: flex;
    flex-direction: row;
    height: 87vh;
    background-color: lightslategray;
  }

  #divIzqMain {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  #divArray {
    overflow: auto;
    width: 70%;
    max-height: 75vh;
    background-color: darkslateblue;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  #divArray>h2 {
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: white;
    font-weight: bold;


  }

  #divDerMainDetail {
    margin-top: 1%;
    border: 5px solid white;
    border-right: none;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    max-height: 70%;
    background-color: black;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
  }

  #divDerMainDetail>h2 {
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: white;
    font-size: xx-large;
  }

  #error {
    margin-top: 3%;
    padding: 2%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Gugi', cursive;
    color: red
  }

  #game {
    width: 65%;
    padding: 3%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    text-align: left;
    background-color: whitesmoke;
    font-family: 'Gugi', cursive;
    margin-bottom: 2%;
  }

  #vMedia {
    color: white;
    background-color: black;
    float: right;
    padding: 3%;
    border-radius: 50%;
  }

  /*Estilo Barra Scroll*/
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: black;
  }
}
