<body>
    <div id="divIzqMain">
        <div id="divArray">
            <h2>{{titleArrGames}}</h2>
            <div id="game" *ngFor="let x of games" (click)="select(x)" >
                
                <h2> {{x.getTitulo()}} <span><img id="idGame" src={{x.getUrlImg()}}></span></h2> 
                <span> {{x.getCompania()}} </span>
                <span id="vMedia"> {{x.getValoracionMedia()}} </span>

            </div>
        </div>
    </div>
        <div id = "divDerMain">

            <div id="divDerMainUser">
                <h2>{{titleUser}}</h2>
                
                <div id="infoUser">
                    <p>{{userEmail}} </p><img [src]="urlIconUser">
                </div>
               
                </div>  
            <div id="divDerMainDetail">
                <h2>{{titledivDerMain}}</h2>
        
                <div class="column">
                <input type="text"  [placeholder]="placeholderID"  [value]="id" readonly/>
                <input type="text"  [placeholder]="placeholderTitulo" [value]="titulo"readonly/>
                <input type="text"  [placeholder]="placeholderCompania"  [value]="compania"readonly/>
                <input type="text"  [placeholder]="placeholderVMedia" [value]="vMedia"readonly />  
                <img id ="detailImgGame" [src]="urlImgGame" [hidden]="showDetailImgGame">
                
            </div>
            <div id="error" [hidden]="error">{{errorMessage}}</div>

        </div>  
    </div>
    
</body>
<app-footer></app-footer>
