@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/*CSS Para Moviles y Tablets*/
@media screen and (min-width:0px){
header{
    display: flex;
    flex-direction: row;
    height:13vh;
    background-color: lightgray;
}
#divIzqHeader{
    width: 85%;
    border-bottom: 4px solid white;
}
#divDerHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    width: 15%;
    background-color: black;
    
}

#divDerHeader>a>img{
    width: 4vh;
    height: 4vh;
}

#divDerHeader>a{
   margin-top: 25%;
   margin-right: 2%;
}
h1{
    margin-top: 2%;
    text-align:center ;
    color: black;
    font-family: 'Audiowide', cursive;
}
}

@media screen and (min-width:770px){
   
    #divDerHeader>a>img{
        width: 8vh;
        height: 8vh;
    }
    
    #divDerHeader>a{
       margin-top: 5%;
       margin-right: 2%;
    }
  
    }