@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{
    display: flex;
    flex-direction: row;
    height: 87vh;
    background-color: lightslategray;
}
#divIzqMain{
    width: 85%;
}
#divDerMain{
    margin-top: 1%;
    border: 5px solid white;
    border-right: none;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    width: 30%;
    max-height: 90%;
    background-color: black;
}

#divDerMain>h2{
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: white;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row>input{
   margin-right:1%;
   background-color: whitesmoke;
   font-family: 'Audiowide', cursive;
   padding: 1%;
   border: 2px solid lightgrey;
}
.row>input:focus{
    border: 2px solid white;
    background-color: black;
    color:white
 }
 .column{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column>input{
    margin-left:5%;
    background-color: whitesmoke;
    font-family: 'Audiowide', cursive;
    padding: 1%;
    border: 2px solid lightgrey;
    width: 90%;
}