@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/*CSS Para Moviles y Tablets*/
@media screen and (min-width:0px){
footer{
    height: 6vh;
    background-color: black;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 1%;
}
input{
    height:4vh;
    width: 4vh;
    margin-right:1%;
    margin-top: 0.5%;
    background-color: white;
    border-radius: 50%;
}
#notBackground{
    background-color: black;
}
#notBackground:hover{
    background-color: black;
    border: 1px solid white;
}
}

/*CSS Para PCs*/
@media screen and (min-width:1100px){}