<div class="mainBody">

    <div id="divBodyIzquierda">

        <h2 class="centrar">
            Pedro Sánchez Escribano
        </h2>

        <img src="assets/img/curriculum/imagenProfile.png" id="imgPerfil" alt="Foto de Perfil">

        <div class="target" id="contact">
            <p class="centrar"><img id="imgContact" src="assets/img/curriculum/contact.png"></p>
            <p><img class="icon" src="assets/img/curriculum/email.png"> Email : <a href="mailto:ps95se@gmail.com">ps95se@gmail.com</a></p>
            <p><img class="icon" src="assets/img/curriculum/phone.png"> Telefono : <a href="tel:+34630413222">630 413 222</a></p>
            <p><img class="icon" src="assets/img/curriculum/city.png"> Municipio : Madrid</p>
            <p><img class="icon" src="assets/img/curriculum/github.png"> Github : <a target="blank" href="https://github.com/psanchez1095">Ir agithub</a></p>
        </div>

        <div class="target" id="education">
            <p class="centrar"><img id="imgEducation" src="assets/img/curriculum/education.png">
            <p><img class="icon" src="assets/img/curriculum/school.png">
            
                <b>Estudios Preuniversitarios</b>
                <ul type="circle">
                    <li>2007-2013 Secundaria y Bachillerato de Ciencias </li>
                    <ul>
                        <li>Patrocinio de San José (Madrid)</li>
                    </ul>
                </ul>
            
            <p> <img class="icon" src="assets/img/curriculum/university.png"> <b>Estudios Universitarios</b>
                <ul type="circle">
                    <li>2013-2022 Grado en Ingenieria del Software</li>
                </ul>
            
            
        </div>

    </div>

    <div id="divBodyDer">
    
        <div id="botones">

            <img class="iconGoogle" src="assets/img/curriculum/contact.png">
            <img class="iconGoogle" src="assets/img/curriculum/education.png">
            <img class="iconGoogle" src="assets/img/curriculum/information.png">
        </div>
        
        <div id="divMainDer">
        
            <div id="textDivDer">
            
                <p><img class="icon" src="assets/img/curriculum/presentation.png">
                    <b>Presentacion</b><br>
                    Sociable, activo, con ganas de crecer personal y profesionalmente en el ámbito
                    de mis estudios, dispongo de carnet de conducir y moto propia.
                    En estos momentos estoy ligado a Babel cursando su beca.
                
                <p><img class="icon" src="assets/img/curriculum/aptitudes.png">

                    <b>Aptitudes</b><br>

                    <table>

                        <tr>
                            <td>
                                <ul type="circle">
                                    <li>Buena capacidad para la comunicación y el trabajo en grupo</li>
                                </ul>
                            </td>
                            <td>
                                <ul type="circle">
                                    <li>Predispuesto al cambio</li>
                                </ul>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <ul type="circle">
                                    <li>Buena comunicación con el cliente</li>
                                </ul>
                            </td>
                            <td>
                                <ul type="circle">
                                    <li>Con ganas de aprender y crecer profesionalmente</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <ul type="circle">
                                    <li>Buena respuesta al estrés</li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                
                <p><img class="icon" src="assets/img/curriculum/pc.png">
                    <b>Conocimientos Informáticos</b><br><br>
                    Actualmente me encuentro cursando el grado de ingeniería del software el cual
                    acabaré en 2022, podría ofrecer conocimientos en diferentes áreas de
                    programación:
                    <ul type="circle">
                        <li>Javascript</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>HTML Y CSS</li>
                        <li>Manejo de bases de datos y SQL</li>
                        <li>Desarrollo de aplicaciones android con Android Studio</li>
                    </ul>

                

                <p><img class="icon" src="assets/img/curriculum/briefcase.png">
                    <b>Experiencia</b><br>
                    <ul type="circle">
                      
                        <li><b>IT Specialist</b> en <a target="blank" href="https://www.misstipsi.com/"
                                class="outLinedBlack">Misstipsi</a>
                            (Junio 2018 - Octubre 2019)</li>
                        <li><b>BABELCamp 7.0</b> en <a target="blank" href="https://www.babelgroup.com/"
                                class="outLinedBlack">Babel</a> (Actualmente)</li>
                    </ul>


                



            </div>
            
        </div>

    </div>

</div>