/*Fuente de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*Quitar margin y padding por defecto*/
* {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 5%;
    font-family: 'Satisfy', cursive;
}

ul {
    margin-left: 15%;
}

body {
    background-color: ghostwhite;
    overflow: auto;
    max-height: 100%;
}

a{
    color: white;
}
.outLinedBlack{
    color: black;
}
/*Clase usada para centrar el texto de los elementos que contiene*/
.centrar {
    text-align: center;
}

/*Clase usada para dar un pequeño margen a la izquierda*/
.margenIzq {
    margin-left: 1%;
}

/*Clase icon para definir el tamaño de los iconos*/
.icon {
    width: 24px;
    height: 24px;
}
.mainBody{
    display: flex;
    flex-direction: row;
}
#divBodyIzquierda {
    width: 25%;
    padding-right: 1%;
    color: white;
    background-color: rgb(59, 143, 118);
}

/*Clase que define las propiedades de las tarjetas
de información de las parte izquierda de la pagina HTML*/
.target {
    padding: 2%;
    border: 6px solid white;
    border-bottom-right-radius: 22%;
    border-top-right-radius: 22%;
    background-color: darkslategray;
}

/*Define las propiedades para todos aquellos parrafos
 contenidos directamente en una clase target*/
.target>p {
    margin-left: 10%;
    margin-right: 10%;
}

/*Identificador que define las propiedades de la imagen de 
perfil usada en la parte izq de la pagina HTML*/
#imgPerfil {
    width: 24vh;
    height: 30vh;
    min-height: 30vh;
    min-height: 15vh;
    margin: 30%;
    margin-bottom: 1%;
    margin-top: 5%;
    border-radius: 65%;
    border: 4px solid white;
}

/*Identificador que define las propiedades de la segunda targeta (Educacion) de la parte izq de la pagina HTML(div)*/
#education {
    margin-top: 4%;
}

#education:hover #imgEducation{
    padding: 1%;
    border:1px solid white;
    border-radius: 2%;
}

#contact:hover #imgContact{
    padding: 1%;
    border:1px solid white;
    border-radius: 50%;
}

/*Identificador que define las propiedades de la parte derecha de la pagina HTML(div)*/
#divBodyDer {
   width: 75%; 
}

/*Identificador que define las propiedades de la parte derecha de la pagina HTML(div Imagenes)*/
#botones{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}

#botones>img{
    height: 24px;
    width: 24px;
    margin-left: 5%;
    margin-top: 2%;
}

/*Identificador que define las propiedades de la parte derecha de la pagina HTML(div principal Verde)*/
#divMainDer {
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    padding: 1%;
    background-color: darkslategrey;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

/*Identificador que define las propiedades de la parte derecha de la pagina HTML(div secundario blanco)*/
#textDivDer {
    max-height: 100%;
    margin-top: 5%;
    margin-left:5% ;
    margin-right: 5%;
    padding:2% ;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: white;
    
}

/*Define las propiedades para todos aquellos parrafos
 contenidos directamente en un identificador textDivDer*/
#textDivDer>p {
    margin: 2%;
    margin-bottom: none;
}