*{
    margin:0;
    padding:0;
}


/* Referente a Header*/

.centrar{
    text-align: center;
}
.margenIzq{
    margin-left: 1%;
}

img{
    position:absolute;
    right: 0;
    top:0;
    margin:1%;
    border-radius: 17%;
    background-color: whitesmoke;
    padding:2%;
}
header{
    background-color: whitesmoke;
}


