<body>
    <div id="divIzqMain">
        <div id="divArray">
            <h2>Ficha {{titleGame}}</h2>
            <img id="imgGame" [src]="urlImgGame">
            <p ><b>{{companiaGame}}</b></p>
            <p>{{descriptionGame}}</p>
            <span id="vMedia"> {{valoracionMediaGame}} </span>
        </div>
    </div>
    <div id="divDerMain">

        <div id="divDerMainUser">
            <h2>{{titleUser}}</h2>

            <div id="infoUser">
                <p>{{userEmail}} </p><img id="imgUserStatus" [src]="urlIconUser">
            </div>

        </div>
        
    </div>

</body>
<app-footer [userEmailInput]="userEmail" [urlImgUser]="urlIconUser"></app-footer>
