@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

*{
    margin:0;
    padding:0;
}

header{
    font-family: 'Aladin', cursive;
    height: 8vh;
    background-color: white;
    text-align: center;
}

#subHeader{
    height: 3vh;
    background-color: black;
}

input{
    padding:2%;
}

h1{
   margin-top: 1%;
}

h2{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Aladin', cursive;
    color: white;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    height: 86.5vh;
    width:100%;
    background-color: darkslateblue;
}

img{
    width: 10%;
}
#divBody{
    width: 35%;
    margin-top:5%;
    margin-left: 30%;   
    background-color: gray;
    padding: 1%;
}
#headerCalculator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    width: 100%;
}
#screenCalculator{
    background-color: white;
    width: 100%;
  
}

#mainCalculator{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    background-color: black;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.op{
    margin: 1%;
    width: 20%;
}
.number{
    width: 48%;
    margin: 1%;
}
#inputScreenCalculator{
    font-weight: bold;
    width: 96%;
    text-decoration: none;
}
#mainIzq{}
#mensaje{
    font-size:x-large;
    margin-left: 10%;
    margin-top:2%;
    width:80%;
    font-weight: bold;
    background-color: white;
    font-family: 'Aladin', cursive;
    text-align: center;
    visibility:  hidden;
}


